.lp-filter-button {
    background: #fff;
    border-style: solid;
    border-width: .125rem;
    border-color: #adadad;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    padding: .875rem 1.125rem;
    position: relative;
    text-align: left;
    text-decoration: none;
}

.lp-filter-button:hover {
    background: #514943;
    color: #fff;
    text-decoration: none;
    border-style: solid;
    border-width: .125rem;
    border-color: #adadad;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    padding: .875rem 1.125rem;
    position: relative;
    text-align: left;
}

.lp-filter-button:active {
    background: #514943;
    color: #fff;
    text-decoration: none;
    border-style: solid;
    border-width: .125rem;
    border-color: #adadad;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    padding: .875rem 1.125rem;
    position: relative;
    text-align: left;
}

.lp-filter-button.selected {
    background: #514943;
    color: #fff;
    text-decoration: none;
    border-style: solid;
    border-width: .125rem;
    border-color: #adadad;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    padding: .875rem 1.125rem;
    position: relative;
    text-align: left;
}
