<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="LP_LPShipping::index"
             title="Unisend"
             translate="title"
             module="LP_LPShipping"
             sortOrder = "15"
             action="lp_shipping/index"
             resource="Magento_Backend::admin"
        />
    </menu>
</config>
